<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DNQ web</title>
    <link rel="stylesheet" href="/static/css/dist/output.css">
</head>
<body>
    <header>
        <div >
            <nav class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    
</body>
</html>