{% extends 'layout.html'%}

{% block content %}
<style>
    .scrollable-row {
        max-height: 300px; /* Set your preferred height */
        overflow-x: auto;
    }
    .card1 {
        max-width: 80%;
        font-family: monospace;
        font-style: italic;
        box-shadow: 10px 14px 14px rgba(165, 154, 154);
        border-radius: 0px 100px 0px 100px;
        background-color: #E2C5ED;
        color: gray;

    }
</style>
<div class="row mt-2 mb-2 " >
    <div class="col-2">
    </div>
    <!--quote card-->
    <div class="col-10">
        <div class="card mb-3 card1">
            <div class="row g-0">
              <div class="col-md-8" >
                <div class="card-body text-center" >
                  <h5 class="card-title text-center">Quote of the day!</h5>
                  <p class="card-text">This area would display a new motivational message everyday. this aims to spark inspiration within our users</p>
                  <p class="card-text"><small class="text fw-light">~Uknown. Circa 2000</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
      
  </div>
    <h3>choose a path to continue on.</h3>

    <div class="container-fluid">

        <div class="row scrollable-row">
            <div class="col-5 " style="background-color: green; width: 200px; height: 150px; padding: 10px; margin-right: 20px; margin-bottom: 20px;">
                <h4>Front end development</h4>
                
            </div>
            
            <div class="col-5 " style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px; margin-bottom: 20px;">
                <h4>Back end development</h4>
                
            </div>

            <div class="col-5" style="background-color: green; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>full stack development</h4>
                
            </div>

            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>Web development</h4>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>Mobile development</h4>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
               <a href="#">

                   <h4>Cybersecurity</h4>
               </a>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>DevOps</h4>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>Software development</h4>
                
            </div>
            
        </div>
    </div>
    <div class="container mt-4">
        <h4>Learn a language</h4>

        <div class="row scrollable-row">
            <div class="col-5 " style="background-color: green; width: 200px; height: 150px; padding: 10px; margin-right: 20px; margin-bottom: 20px;">
                <h4>Python</h4>
                
            </div>
            
            <div class="col-5 " style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px; margin-bottom: 20px;">
                <h4>Java</h4>
                
            </div>

            <div class="col-5" style="background-color: green; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>javascript</h4>
                
            </div>

            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>html</h4>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>ruby</h4>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
               <a href="#">

                   <h4>Scala</h4>
               </a>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>Dart</h4>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>C++</h4>
                
            </div>
    
        </div>
    </div>
    <div class="container mt-4">
        <h4>Read Stories</h4>

        <div class="row scrollable-row">
            <div class="col-5 " style="background-color: green; width: 200px; height: 150px; padding: 10px; margin-right: 20px; margin-bottom: 20px;">
                <h4>Python</h4>
                
            </div>
            
            <div class="col-5 " style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px; margin-bottom: 20px;">
                <h4>Java</h4>
                
            </div>

            <div class="col-5" style="background-color: green; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>javascript</h4>
                
            </div>

            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>html</h4>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>ruby</h4>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
               <a href="#">

                   <h4>Scala</h4>
               </a>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>Dart</h4>
                
            </div>
            <div class="col-5" style="background-color: brown; width: 200px; height: 150px; padding: 10px; margin-right: 20px;margin-bottom: 20px;">
                <h4>C++</h4>
                
            </div>
    
        </div>
    </div>
    
{% endblock %}

